---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"li">;

export const breadcrumbSeparator = tv({ base: "[&>svg]:size-4" });

const { class: className, ...rest } = Astro.props;
---

<li
  role="presentation"
  aria-hidden="true"
  class={breadcrumbSeparator({ class: className })}
  {...rest}
  data-slot="breadcrumb-separator"
>
  <slot>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 5l7 7-7 7" /></svg>
  </slot>
</li>
